<li id="dropdown-<%= menu.IDProcesso %>" class="nav-item dropdown">
	<a id="menu-<%= menu.IDProcesso %>" class="nav-link dropdown-toggle" role="button"
		data-bs-toggle="dropdown" aria-expanded="false">
		<%= menu.Description %>
	</a>
</li>