<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span class="f-roboto b">Conferma operazione</span>
                </h4>
            </div>
            <div class="modal-body text-secondary">
                <h5 class="f-roboto warning lh-base m-0">Attenzione: l&apos;operazione non pu&ograve; essere annullata.</h5>
                <h5 class="f-roboto">Confermi di voler procedere?</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Annulla</button>
                <a class="btn btn-danger btn-ok-delete" data-dismiss="modal">Elimina</a>
            </div>
        </div>
    </div>
</div>