<div class="modal" id="system-message" tabindex="-1" role="dialog" data-args="" data-bs-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title f-roboto b c-base">
                    Messaggio di sistema
                </h4>
            </div>
            <div class="modal-body text-secondary">
                <h4 class="f-roboto">
                    <div class="pnl-sender b"></div>
                </h4>
                <h5 class="f-roboto">
                    <div class="pnl-errors"></div>
                </h5>
            </div>
            <div class="modal-footer">
                <button type="button" data-bs-dismiss="modal" class="btn btn-default">OK</button>
            </div>
        </div>
    </div>
</div>