<div class="col-xs-12 pt-2 mb-4">
	<a class="btn btn-primary btn-salva">
		<% if (user.LanguageContext == "IT") { %>
			Salva
		<% } else if (user.LanguageContext == "GB") { %>
			Save
		<% } %>
	</a>
</div>