<!-- NOTE -->
<div class="col-xs-12 p-0 mb-2 px-3">
    <label for="control_<%= row.IDAttributo %>" class="col-form-label">
        <%= row.Description %>
    </label>
    <div class="panel panel-info">
        <div class="panel-heading">
            
        </div>
        <div class="panel-body">
        </div>
    </div>
</div>