<li class="dropdown-item">
    <button type="button" class="btn btn-light btn-xs col-xs-12 btn-action-workflow-<%= action.IDProcessoAzione %>"
        data-actionname="<%= action.ActionName %>" data-idprocessoazione="<%= action.IDProcessoAzione %>">
        <%= action.Description %>
    </button>
</li>