<div class="processo-<%= processo.IDProc %>-container">
    <div class="col-xs-12 p-0 process-bg" style>
        <div class="col-xs-12 p-0 text-start btn btn-processo-<%= processo.IDProc %>">
            <a class="text-start btn p-0 text-secondary f-roboto" data-idprocesso="<%= processo.IDProc %>">
                <%= processo.Description %>
            </a>
        </div>
    </div>
</div>