<!DOCTYPE html>
<html>
<head>
    <title>Web APP DC - Conferma modifica password</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <form name="404" action="/dashboard">
        <div style="position:absolute; margin:0; width:60%; left:20%; top:50%; height:250px; margin-top:-250px; text-align:center;">
            <img src="/images/password-recovery-confirm.png" class="img-fluid" />
            <hr style="border: 1px solid #d1d1d1;" />
            <span class="cart-head">
                <h2>
                    <b class="f-roboto">
                        <% if (LanguageContext == "IT") { %>
                            Password modificata con successo.
                        <% } %>
                        <% if (LanguageContext == "GB") { %>
                            Your password has been successfully updated.
                        <% } %>
                        <% if (LanguageContext == "ES") { %>
                            La contrase&ntilde;a se cambi&oacute; correctamente.
                        <% } %>
                        <% if (LanguageContext == "CN") { %>
                            密码修改成功.
                        <% } %>
                    </b>
                </h2>
                <h4 class="text-secondary" style="line-height:125%;">
                    <% if (LanguageContext == "IT") { %>
                        Grazie, il tuo supporto &egrave; prezioso per mantenere sicuro il tuo account!
                    <% } %>
                    <% if (LanguageContext == "GB") { %>
                        Thank&apos;s, your support is invaluable for keeping your account safe!
                    <% } %>
                    <% if (LanguageContext == "ES") { %>
                        Gracias, su apoyo es invaluable para mantener su cuenta segura!
                    <% } %>
                    <% if (LanguageContext == "CN") { %>
                        感谢您的支持，这对协助我们保障账户安全非常重要!
                    <% } %>
                </h4>
            </span>
            <span class="cart-redirect">
                <h5 class="p-3 px-0">
                    <a href="/login/<%= LanguageContext %>" class="btn btn-success btn-lg cart-head">
                        <% if (LanguageContext == "IT") { %>
                            Ritorna al Login
                        <% } %>
                        <% if (LanguageContext == "GB") { %>
                            Return to Login
                        <% } %>
                        <% if (LanguageContext == "ES") { %>
                            Iniciar sesi&oacute;n
                        <% } %>
                        <% if (LanguageContext == "CN") { %>
                            返回登录页
                        <% } %>
                    </a>
                </h5>
            </span>
        </div>
    </form>
</body>
</html>