<!DOCTYPE html>
<html>
<head>
    <title>Web APP DC - 
        <% if (LanguageContext == "IT") { %>
            Password dimenticata?
        <% } %>
        <% if (LanguageContext == "GB") { %>
            Forgotten password?
        <% } %>
        <% if (LanguageContext == "ES") { %>
            Olvidaste tu contrase&ntilde;a
        <% } %>
        <% if (LanguageContext == "CN") { %>
            忘記密碼？
        <% } %>
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%- include('partials/head'); %>
    <script type="text/javascript" src="/utility-script"></script>
    <script type="text/javascript" src="/validation-script"></script>
    <script type="text/javascript" src="/password-recovery-script"></script>
</head>
<body>
    <form name="frmPasswordRecovery" method="post" action="/password-recovery" class="was-validated" novalidate>
        <input type="hidden" name="LanguageContext" id="LanguageContext" value="<%= LanguageContext %>" />
        <div class="container">
            <div class="row pt-5" style="display:block;">
                <div class="col-lg-3"></div>
                <div class="col-lg-6">
                    <div class="login">
                        <div id="select-container" style="position:absolute; top:4px; left:46px; padding:16px;">
                          <ul>
                            <li data-target="recovery" class="IT" lang-selection="IT" tooltip="IT" flow="down">
                              <img src="https://cdn.countryflags.com/thumbs/italy/flag-800.png">
                            </li>
                            <!--li data-target="recovery" class="ES" lang-selection="ES" tooltip="ES" flow="down">
                              <img src="https://cdn.countryflags.com/thumbs/spain/flag-800.png">
                            </li-->
                            <!--li data-target="recovery" class="CN" lang-selection="CN" tooltip="CN" flow="down">
                              <img src="https://cdn.countryflags.com/thumbs/china/flag-800.png">
                            </li-->
                            <li data-target="recovery" class="GB" lang-selection="GB" tooltip="GB" flow="down">
                              <img src="https://cdn.countryflags.com/thumbs/united-states-of-america/flag-800.png">
                            </li>
                          </ul>
                        </div>
                        <div class="container-fluid cart-head">
                            <div class="col-xs-1"></div>
                            <div class="col-xs-10">
                                <img src="/images/password-recovery.png" class="img-fluid" />
                            </div>
                            <div class="col-xs-12 pt-3 px-3 p-5">
                                <div class="form-group">
                                    <label for="email">
                                        <h3>
                                            <b>
                                                <% if (LanguageContext == "IT") { %>
                                                    Password dimenticata?
                                                <% } %>
                                                <% if (LanguageContext == "GB") { %>
                                                    Lost password?
                                                <% } %>
                                                <% if (LanguageContext == "ES") { %>
                                                    Has perdido tu contrase&ntilde;a?
                                                <% } %>
                                                <% if (LanguageContext == "CN") { %>
                                                    忘记密码？
                                                <% } %>
                                            </b>
                                        </h3>
                                    </label>
                                    <% if (error) { %>
                                        <div class="form-group form-errors p-0">
                                            <div class="panel panel-danger p-0">
                                                <div class="panel-heading p-1 px-3">
                                                    <i class="bi bi-exclamation-triangle"></i>
                                                </div>
                                                <div class="panel-body pnl-errors p-2 px-3">
                                                    <%= error %>
                                                </div>
                                            </div>
                                        </div>
                                    <% } %>
                                    <input class="form-control pt-2" type="text" name="email" id="email" required placeholder="@mail.com">
                                    <div class="valid-feedback"></div>
                                </div>
                                <div class="form-group">
                                    <h5 class="password-recovery-notice text-secondary">
                                        <% if (LanguageContext == "IT") { %>
                                            Digita il tuo indirizzo e-mail, se corrisponde ad un account registrato nel sistema, riceverai un codice di verifica che dovrai utilizzare al prossimo passaggio.
                                        <% } %>
                                        <% if (LanguageContext == "GB") { %>
                                            Enter your email address and, if it corresponds to a system registered account, will receive a verification code that will have to use in the next step.
                                        <% } %>
                                        <% if (LanguageContext == "ES") { %>
                                            Ingresa tu direcci&oacute;n de correo electr&oacute;nico, si corresponde a una cuenta registrada en el sistema, recibir&aacute;s un c&oacute;digo de verificaci&oacute;n que deber&aacute;s utilizar en el siguiente paso.
                                        <% } %>
                                        <% if (LanguageContext == "CN") { %>
                                            请输入您的电子邮箱，如果此邮箱已在系统中注册，您将收到一封包含验证码的邮件，在下一步操作中，请使用此验证码 
                                        <% } %>
                                    </h5>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12 pt-3 p-4 px-0">
                                        <button type="submit" class="col-xs-12 btn btn-lg btn-primary">
                                            <% if (LanguageContext == "IT") { %>
                                                Avanti
                                            <% } %>
                                            <% if (LanguageContext == "GB") { %>
                                                Forward
                                            <% } %>
                                            <% if (LanguageContext == "ES") { %>
                                                Siguiente paso
                                            <% } %>
                                            <% if (LanguageContext == "CN") { %>
                                                下一步
                                            <% } %>
                                        </button>
                                    </div>
                                    <div class="col-xs-12 pt-3 p-4 px-0">
                                        <a href="/login/<%= LanguageContext %>" class="col-xs-12 btn btn-lg btn-light">
                                            <% if (LanguageContext == "IT") { %>
                                                Indietro
                                            <% } %>
                                            <% if (LanguageContext == "GB") { %>
                                                Back
                                            <% } %>
                                            <% if (LanguageContext == "ES") { %>
                                                Paso anterior
                                            <% } %>
                                            <% if (LanguageContext == "CN") { %>
                                                上一步
                                            <% } %>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
</html>